body {
    background: #9FBF85;
    align-items: center;
    display: flex;
    justify-content: center;
}
.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

  
.card {
    background: #88A372;
    width: 19vw;
    height: 35vw;
    color: white;
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}
.card:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.request {
    background-color: #F6CE48;
    border: #382d09;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.7vw 3vw;
}
.request:hover {
    background: #DD9D03;
}

.description {
    /* margin-top: 23   0px; */
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    width: 18vw;
}
.item-image {
    width: 19vw;
    height: 19vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.username {
    color: lightgray;
}

.name {
    font-size: 20px;
    font-weight: bold;
}