body {
  background-color: #88a372;
}

.title {
  color: white;
}

.form-control {
  resize: none;
}

.btn-custom-submit,
.btn-custom-submit:hover,
.btn-custom-submit:active,
.btn-custom-submit:not(:disabled):not(:disabled):active {
  background-color: #ebb707;
  border-radius: 15px;
  width: 100%;
  color: white;
}

.calendar,
.calendar:hover,
.calendar:active,
.calendar:not(:disabled):not(:disabled):active {
  background-color: white;
  color: #88a372;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
}

.upload-image,
.upload-image:hover,
.upload-image:active,
.upload-image:not(:disabled):not(:disabled):active {
  background-color: #ebb707;
  color: white;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
  align-items: center;
  position: relative;
  justify-content: center;
}

.img-area {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 80%;
  background-color: white;
  border-radius: 15px;
}

.btn-file {
  background-color: #ebb707;
  color: white;
  border: none;
}
