*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #9FBF85;
}

.about {
    margin-top: 60px; /* Adds spacing above the container */
}

.picture {
    border-radius: 50%; 
    height: 100px; 
    width: 100px;
    border: 1px solid white; 
    display: block; 
    margin: 0 auto;
}

.name {
    text-align: center; /* Aligns our text in the center */
    
}

.time{
    background: white;
    color:black;
    display: block;
    height: 60px;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 17px;
    transition: 0.3s;
}

.time:hover {
background: #2c6185;
color: white;
}



.description {
	text-align: center;
}


h1{
    text-align: center;
}

.subheading{
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #9FBF85;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
  

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .btn {
    background-color:#9E9E9E;
    color: white;

  }

  label{
    font-weight: bold;
  }

  .subheading-r{
    font-size: 20px;
  }

  #logo{
    margin-left:35px;
  }

#receipt{
  width: 400px;
  height: 600px;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  
}

#bg-image{
  background-image: url(../assets/logo.png);
  opacity: 0.2;
  background-repeat: no-repeat;

}